* {
  font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(
    120deg,
    #a1c4fd 0%,
    #c2e9fb 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  text-align: center;
  color: white;
  font-weight: 700;
}
h3 {
  text-align: center;
  color: white;
  font-weight: 400 !important;
}
.imagenesjuntas {
  width: 150px;
  height: 100px;
}

@media all and (max-width: 500px) {
  .imagenesjuntas {
    width: 100px;
    height: 100px;
  }
}
.centroflex {
  display: flex;
}
#encabezado {
  width: 100%;
}
h5 {
  text-align: center;
}
footer {
  display: flex;
  flex-shrink: 0;
}
