* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: #f6f6f2 !important;
}
h1 {
  text-align: center;
  color: #1e1420;
  font-weight: 700;
}

h3 {
  text-align: center;
  color: #1e1420;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container img {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem;
  cursor: pointer;
}
